.container{
	width: 100%;
}
.search{
	margin-top: 100px;
	#search-text{		
		height: 25px;
		padding: 5px;		
		width: 500px;
		margin: 0px auto;
		outline-style: none;
		border-radius: 5px;
		border: 1px solid grey;
		font-size: 15px;
		display: block;
	}
}